    body {
        background-repeat: unset;
        background-image: url(https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHVuaXZlcnNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    padding: 0;
    }
    #centerbox {
    width: 70%;
    max-width: 800px;
    min-width: 560px;
    margin: 20px auto 20px auto;
    
    }
    #kolumncontainer {
        float: left;
    width: 95%;
    margin: 0;
    padding: 10px;
    border: 4px solid rgb(255, 255, 255);
    }
    #sidhuvud {
        position: relative;
        
    
    background:rgba(12, 0, 0, 0.342);
    padding: 20px;
    border-bottom: 4px solid rgb(255, 255, 255);
    margin: 5px;
    height: 30px;
    top: -30px;
    width: 1168px;
    left: -17px;
   }
   #kolumn1 {
   float: left;
   width: 50%;
   min-height: 350px;
   padding: 0 1% 11% 0%;
   background: #b7bfc4;
   border-right: 4px solid rgb(255, 255, 255);
   }
   #kolumn2 {
   float: left;
   width: 370px;
   min-height: 320px;
   
   background: #08080800;
  }
   .link1{
      color: rgb(255, 255, 255);
       position:absolute;
       width: 150px;
       left: 800px;
       top: 32px;
      
   }

   .link2{
      color: rgb(255, 255, 255);
       position:absolute;
       width: 150px;
       left: 630px;
       top: 32px;
   }

   .link3{
      color: rgb(255, 255, 255);
       position:absolute;
       width: 150px;
       left: 450px;
       top: 32px;
   }

       
       .logo{
           position: absolute;
           left: 20px;
           top: 23px;
           width: 100px;
           height: 60px;
       }

       .bild{
           position:absolute;
           line-height: 0ex;
           width: 614px;
           height: 490px;
           top: 128px;
           left: 12px;
       }

       .p1{
          color: rgb(255, 255, 255);
         position:absolute;
          font-style: italic;
          width: 300px;
          padding: 50px;
          height: 0px;
          left: 730px;
          top: 130px;
           }
   
           .rubrik{
            
            color: rgb(255, 255, 255);
            position:absolute;
             font-style: oblique;
             width: 300px;
             padding: 50px;
             height: 2000px;
             left: 760px;
             top: 60px;
           }

           .button {
               position: relative;
               top: -60px;
               left: 1060px;
               display: inline-block;
               padding: 12px 24px;
               border-radius: 6px;
               border: 0;
               font-weight: bold;
               letter-spacing: 0.0625em;
               text-transform: uppercase;
               background: #300b85;
   
               color: rgb(255, 255, 255);
               }
               
               .button:hover,
               .button:focus,
               .button:active {
               background: #f5f4f7;
               color: rgb(255, 255, 255);
               }
